---
import { ClientRouter } from "astro:transitions"
import { Content } from "../../../../README.md"
import Hero from "../components/hero.astro"
import Layout from "../layouts/layout.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<ClientRouter />
	</head>

	<!-- <h1>Astro</h1> -->
	<Layout>
		<Hero />
		<div class="prose prose-lg md:prose-xl max-w-4xl mx-auto">
			<Content />
		</div>
		<!-- <article set:html={readme} /> -->
	</Layout>
</html>
