.toasts-container {
	position: fixed;
	bottom: 1rem;
	left: 1.5rem;
	right: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 8px;
	z-index: 9999;
}
.toast {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: oklch(97% 0.001 106.424);
	outline: 2px solid oklch(37.4% 0.01 67.558);
	color: oklch(37.4% 0.01 67.558);
	max-width: fit-content;
	color: white;
	padding: 0.75rem 1rem;
	border-radius: 4px;
	font-size: 1rem;
	animation: fadeIn 0.3s ease-out;
	word-break: break-all;
	position: relative;
	overflow: hidden;
}
.timeLeft {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background-color: oklch(72.3% 0.219 149.579);
	content: "";
}

.toast-success {
	width: 100%;
	background: #4caf50;
}
.toast-error {
	width: 100%;
	background: #f44336;
}
.toast-info {
	width: 100%;
	background: #2196f3;
}
.toast-title {
	align-self: center;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.toast-icon {
	font-weight: 700;

	width: fit-content;
}
.toast-icon svg {
	width: 24px;
	height: 24px;
}

@media (prefers-color-scheme: dark) {
	.toast {
		background: oklch(20.8% 0.042 265.755);
		outline: 2px solid oklch(41.283% 0.00005 271.152);
		color: oklch(87.483% 0.00267 230.235);
	}
	.toast-success {
		width: 100%;
		background: #08490a;
	}
	.toast-error {
		width: 100%;
		background: #420b07;
	}
	.toast-info {
		width: 100%;
		background: #092c48;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
