---
import Header from "../components/header.astro"
import "../styles/global.css"
---

<body class="bg-fondo relative">
	<Header />
	<slot />
	<div
		id="noise"
		class="inset-0 pointer-events-none z-20 fixed opacity-10 size-full before:absolute before:inset-0 before:size-full before:bg-repeat"
	>
	</div>
</body>

<style>
	:root {
		--svg-pattern-bg-image-color: #223c3a;
	}
	#noise {
		content: "";
		background-size: 182px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	}
</style>
