---
const { text, id } = Astro.props
---

<button id={id}>{text}</button>

<style>
	@property --angle {
		syntax: "<angle>";
		initial-value: 0turn;
		inherits: true;
	}
	@keyframes rotate {
		to {
			--angle: 1turn;
		}
	}
	button {
		display: inline-block;
		font-weight: 600;
		padding: 18px 54px 18px 54px;
		font-family: inherit;
		border-radius: 40px;
		cursor: pointer;
		/* emerald-200/90*/

		border: 8px solid transparent; /* border-emerald-700 */
		/*prettier-ignore */
		background: 
            linear-gradient(color-mix(in oklab, var(--color-emerald-200) /* oklch(90.5% 0.093 164.15) = #a4f4cf */ 100%, transparent)) padding-box,
            conic-gradient(
                from var(--angle),
                #051b1a,
                color-mix(in oklab, var(--color-emerald-700) 100%, transparent),
                #051b1a,
                color-mix(in oklab, var(--color-emerald-700) 100%, transparent)
            ) border-box;
		animation: rotate 3s linear infinite;
		animation-play-state: paused;
	}
	button:hover,
	button:focus-visible {
		animation-play-state: running;
	}
</style>
