<header class="border-b-1 border-stone-100 px-12">
	<nav
		class="flex justify-between h-16 items-center gap-8 font-medium text-white list-none"
	>
		<li class="h-fit">wToast</li>
		<li class="h-fit">github</li>
	</nav>
</header>
