---
import Button from "./Button.astro"
---

<main class="h-[75vh] flex justify-center overflow-hidden flex-col relative gap-2 items-center">
	<div id="mask-vertical">
		<div id="mask-horizontal">
			<div id="square-pattern" class="rotate-[45deg]"></div>
		</div>
	</div>
	<span class="font-bold text-6xl">wToast</span>
	<p class="text-white text-2xl text-balance text-center w-2/4">es una utilidad para mostrar un toast, una notificacion con un mensaje normalmente de exito o de fallo de alguna operacion</p>
	<div class="">
		<Button text="toast" id="toast-btn" />
		<Button text="Promesa" id="toast-promesa" />
	</div>
</main>
<script>
	// import loading from "../../../assets/icons/circle-check-big.svg?raw"
	import { wToast } from "../../../javascript/api"
	import { sleep } from "../../../javascript/utils/helpers"

	const { show, promise } = wToast()
	document.addEventListener("astro:page-load", () => {
		document.getElementById("toast-btn")?.addEventListener("click", () => {
			// var svg = document.createElement("div")
			// svg.innerHTML = loading
			// svg.className = "text-white mr-2"
			show("show", {
				// icon: loading2,
				duration: 3000,
			})
		})
		document.getElementById("toast-promesa")?.addEventListener("click", () => {
			// var svg = document.createElement("div")
			// svg.innerHTML = loading
			// svg.className = "text-white mr-2"
			promise(
				sleep(1000),
				{
					error: "error",
					loading: "cargando",
					success: "exito",
				},
				{
					type: "error",
					// icon: loading2,
					duration: 3000,
				}
			)
		})
	})
</script>
<style>
	/*prettier-ignore*/
	main {
		background-position: center;
		background-repeat: no-repeat;
		background-size:  cover;
		background-attachment: fixed;
		background-image:
			linear-gradient(color-mix(in oklab, #051b1a 80%, transparent) 0 0),
			url("/luces.webp");
		mask-image: linear-gradient(black 75%, transparent 100%);
	}
	span {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: transparent;
		background-clip: text;
		background-image: linear-gradient(90deg, rgba(36, 151, 148, 1) 50%);
	}
	/*prettier-ignore*/
	#square-pattern {
		z-index: -08;
		position: fixed;
		translate: -650px;
		inset: 0;
		width: 250%;
		height: 250%;
		background-size: 80px 80px;
		background-image:
    		linear-gradient(to bottom, var(--svg-pattern-bg-image-color) 1px, transparent 1px),
      		linear-gradient(to right, var(--svg-pattern-bg-image-color) 1px, transparent 1px);
    	
	}
	/*prettier-ignore*/
	#mask-vertical {
		inset: 0;
		position: fixed;
		z-index: -08;
		mask-image: linear-gradient( to top, transparent -05%, black 50%, transparent 105% );
	}
	/*prettier-ignore*/
	#mask-horizontal {
		inset: 0;
		position: fixed;
		z-index: -08;
		mask-image: linear-gradient( to right, transparent -05%, black 50%, transparent 105% );
	}
</style>
