* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	place-content: center;
}
.container {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.btn {
	width: max-content;
	padding: 12px 18px;
	border: 1px solid black;
	font-size: 22px;
	font-weight: 700;
	border-radius: 18px;
	background: transparent;
}
