* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	place-content: center;
}
.container {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.btn {
	width: max-content;
	padding: 12px 18px;
	border: 1px solid black;
	font-size: 22px;
	font-weight: 700;
	border-radius: 18px;
	background: transparent;
}

.toast-container {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 8px;
	z-index: 9999;
}

.toast {
	background: #333;
	color: white;
	padding: 0.75rem 1rem;
	border-radius: 4px;
	font-size: 0.9rem;
	animation: fadeIn 0.3s ease-out;
}

.toast-success {
	width: 100%;
	background: #4caf50;
}
.toast-error {
	width: 100%;
	background: #f44336;
}
.toast-info {
	width: 100%;
	background: #2196f3;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
